html,body {
  background-color: #eee;
  height: 100%;
}
#content{
	overflow: hidden;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.h2 {
  position:center;
}
  #footer {
  position: absolute;
  right: 0;
  bottom: 0 ;
  left: 0;
  padding: 1rem;
  height: 60px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f5f5f5;
  text-align: center;
  }

  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
  }
  .container .credit {
    margin-top: 20px;
    text-align: center;
  }
.muted {
  color: #999999;
}

a.muted:hover,
a.muted:focus {
  color: #808080;
}