body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  height: 100%;
}
.container{
	max-width: 550px;
	height: 100%;
}
  
/* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }
  .container .credit {
    margin-top: 20px;
    text-align: center;
  }
.muted {
  color: #999999;
}

a.muted:hover,
a.muted:focus {
  color: #808080;
}

.logout {
	position:absolute;
	top:5px;
	right:5px;
}
.logout:hover {
	text-decoration: none;
}
.dropdown .tt-dropdown-menu{
	max-height: 150px;
	overflow-y: hidden;
	width: 100%;
}
.twitter-typeahead{
	width: 100%;
}
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.empty-message {
	margin: 2px, 0, 0;
  padding: 3px 10px;
 text-align: center;
}